* {
    max-width: 100vw;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 header {
    padding: 0;
    margin: 0;
 }
 nav ul {
    background-color: rgb(37, 29, 29);
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;

 }
 nav li {
    display: inline-block;
    color: white;
    font-size: 22px;
    padding: 10px;
 }
 nav li:first-child {
    color: orange;
 }
 nav li:hover {
    cursor: pointer;
 }
 main {
    padding: 20px 50px;
    background-color: #f2f2f2;
 }
 .hero {
    text-align: center;
 }
 .fa-amazon {
    color: orange;
    transform: scale(2);
 }
 .container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   margin-top: 20px;

 }
 .policy {
   max-width: 400px;
   display: flex;
   margin-bottom: 20px;
 }
 .policy img {
   width: 50px;
   height: 50px;
   margin: 20px 10px 0 0;
   object-fit: cover;
 }
 @media (max-width: 1200px) {
   nav ul {
       padding: 20px;
   }
}
@media (max-width: 768px) {
   nav ul {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}
@media (max-width: 480px) {
   nav ul li {
      display: inline-block;
      font-size: 16px;
   }
   .container p {
      font-size: 16px;
      overflow: hiden;
}
} 